#contenedor{
	width: 1100px;
	height: auto;
	margin: auto;
	position: relative;

}

body{
  background-repeat: no-repeat;
  background-size: cover;
} 
footer{
	width: 1100px;
	height: 80px;
	background: rgb(52, 76, 218);
	float: left;
	margin-top: 10px;
	text-align: left;
	margin-bottom: 20px;
	border-radius: 10px;
}
h1{
	font-family: "Franklin Gothic Heavy", "Franklin Gothic Book";
	color: white;
	margin-left: 20px;
	font-size: 30px;
	text-align: center;
	height: 70px;
	width: 700px;
	float: right;
	background: rgb(52, 76, 218);
	padding-left: 30px;	
	padding-right: 30px;	
	padding-top: 10px;	
	padding-bottom: 10px;
} 
header{
	width: 1100px;
	height: 125px;
    background: rgba(255,255,255,3,5);
    display: inline-flex;
}

img.imgLogo{
	width: 347px;
	height: 75px;
}

.menu li{
	/*formato de menu */
	float: left;
	width: 130px;
	list-style-type: none;
	padding: 10px;
	background: rgb(203, 210, 219);
	margin-top: 12px;
	border-radius: 0px 0px 0 0;
	box-shadow: 0  0 10px white inset;
	text-align: center;
	color:white; 
	text-decoration: none;
	cursor: pointer;
}
.menu li.activo{
	/*formato de menu */
	background: rgb(149, 159, 172);
	border-radius: 0px 0px 0 0;
	cursor: pointer;
}
nav{
	width: 1100px;
	height: 70px;
	background: rgb(52, 76, 218);
	border-radius: 10px;
	alignment-adjust: after-edge;
}
ul{
	margin: auto;
	padding-top: 4px;
	margin-top: 5px;
}

.menu:link{ color:white; text-decoration: none;}
.menu:visited{ color:white; text-decoration: none;}
.menu:hover{
	color: #005883;
	text-decoration: none;
	text-shadow: 0 0 13px white;
}
.footContacto {
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #FFF;
    text-align: left;
	font-size:9px;
}


.contenido-submenu {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.contenido-submenu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menu-header:hover .contenido-submenu{display: block;}
.contenido-submenu a:hover {background-color: #ddd;}


